In [1]:
# Importing packages
import pandas as pd
import numpy as np
import pickle

In [2]:
df_gen_raw = pd.read_csv('Data/ieee24rts_generators.csv', index_col=False)
df_line_raw = pd.read_csv('Data/ieee24rts_lines.csv', index_col=False)
df_load_raw = pd.read_csv('Data/ieee24rts_loads.csv', index_col=False)

    Bus  Generator  Pmax   Pmin  Qmax  Qmin         a         b         c
0     1          1    20   16.0    10     0  0.000000  130.0000  400.6849
1     1          2    20   16.0    10     0  0.000000  130.0000  400.6849
2     1          3    76   15.2    30   -25  0.014142   16.0811  212.3076
3     1          4    76   15.2    30   -25  0.014142   16.0811  212.3076
4     2          1    20   16.0    10     0  0.000000  130.0000  400.6849
5     2          2    20   16.0    10     0  0.000000  130.0000  400.6849
6     2          3    76   15.2    30   -25  0.014142   16.0811  212.3076
7     2          4    76   15.2    30   -25  0.014142   16.0811  212.3076
8     7          1   100   25.0    60     0  0.052672   43.6615  781.5210
9     7          2   100   25.0    60     0  0.052672   43.6615  781.5210
10    7          3   100   25.0    60     0  0.052672   43.6615  781.5210
11   13          1   197   69.0    80     0  0.007170   48.5804  832.7575
12   13          2   197   69.0    80     0  0.007170   48.5804  832.7575
13   13          3   197   69.0    80     0  0.007170   48.5804  832.7575
14   15          1    12    2.4     6     0  0.328412   56.5640   86.3852
15   15          2    12    2.4     6     0  0.328412   56.5640   86.3852
16   15          3    12    2.4     6     0  0.328412   56.5640   86.3852
17   15          4    12    2.4     6     0  0.328412   56.5640   86.3852
18   15          5    12    2.4     6     0  0.328412   56.5640   86.3852
19   15          6   155   54.3    80   -50  0.008342   12.3883  382.2391
20   16          1   155   54.3    80   -50  0.008342   12.3883  382.2391
21   18          1   400  100.0   200   -50  0.000213    4.4231  395.3749
22   21          1   400  100.0   200   -50  0.000213    4.4231  395.3749
23   22          1    50   10.0    16   -10  0.000000    0.0010    0.0010
24   22          2    50   10.0    16   -10  0.000000    0.0010    0.0010
25   22          3    50   10.0    16   -10  0.000000    0.0010    0.0010
26   22          4    50   10.0    16   -10  0.000000    0.0010    0.0010
27   22          5    50   10.0    16   -10  0.000000    0.0010    0.0010
28   22          6    50   10.0    16   -10  0.000000    0.0010    0.0010
29   23          1   155   54.3    80   -50  0.008342   12.3883  382.2391
30   23          2   155   54.3    80   -50  0.008342   12.3883  382.2391
31   23          3   350  140.0   150   -25  0.004895   11.8495  665.1094

In [3]:
# Generator Index Set
G = set()
for i in df_gen_raw.index:
    gen = (df_gen_raw.loc[i, 'Bus'], df_gen_raw.loc[i,'Generator'])
    G.add(gen)

In [4]:
# Generating dictionaries for generator parameters
a_matrix = df_gen_raw.pivot_table(index='Bus', columns='Generator', values='a')
a = a_matrix.stack().to_dict()

b_matrix = df_gen_raw.pivot_table(index='Bus', columns='Generator', values='b')
b = b_matrix.stack().to_dict()

c_matrix = df_gen_raw.pivot_table(index='Bus', columns='Generator', values='c')
c = c_matrix.stack().to_dict()

pgmax_matrix = df_gen_raw.pivot_table(index='Bus', columns='Generator', values='Pmax')
p_g_max = pgmax_matrix.stack().to_dict()

pgmin_matrix = df_gen_raw.pivot_table(index='Bus', columns='Generator', values='Pmin')
p_g_min = pgmin_matrix.stack().to_dict()

qgmax_matrix = df_gen_raw.pivot_table(index='Bus', columns='Generator', values='Qmax')
q_g_max = qgmax_matrix.stack().to_dict()

qgmin_matrix = df_gen_raw.pivot_table(index='Bus', columns='Generator', values='Qmin')
q_g_min = qgmin_matrix.stack().to_dict()

In [5]:
# Exporting sets and dictionaries as .pkl 
with open('Data/Parameters/G.pkl', 'wb') as f:
    pickle.dump(G, f)

with open('Data/Parameters/a.pkl', 'wb') as f:
    pickle.dump(a, f)
    
with open('Data/Parameters/b.pkl', 'wb') as f:
    pickle.dump(b, f)
    
with open('Data/Parameters/c.pkl', 'wb') as f:
    pickle.dump(c, f)
    
with open('Data/Parameters/p_g_max.pkl', 'wb') as f:
    pickle.dump(p_g_max, f)
    
with open('Data/Parameters/p_g_min.pkl', 'wb') as f:
    pickle.dump(p_g_min, f)
    
with open('Data/Parameters/q_g_max.pkl', 'wb') as f:
    pickle.dump(q_g_max, f)
    
with open('Data/Parameters/q_g_min.pkl', 'wb') as f:
    pickle.dump(q_g_min, f)

{(1, 1): 0.0, (1, 2): 0.0, (1, 3): -25.0, (1, 4): -25.0, (2, 1): 0.0, (2, 2): 0.0, (2, 3): -25.0, (2, 4): -25.0, (7, 1): 0.0, (7, 2): 0.0, (7, 3): 0.0, (13, 1): 0.0, (13, 2): 0.0, (13, 3): 0.0, (15, 1): 0.0, (15, 2): 0.0, (15, 3): 0.0, (15, 4): 0.0, (15, 5): 0.0, (15, 6): -50.0, (16, 1): -50.0, (18, 1): -50.0, (21, 1): -50.0, (22, 1): -10.0, (22, 2): -10.0, (22, 3): -10.0, (22, 4): -10.0, (22, 5): -10.0, (22, 6): -10.0, (23, 1): -50.0, (23, 2): -50.0, (23, 3): -25.0}